@font-face {
  font-family: Aldrich;
  src: url("./assets/fonts/Aldrich-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Light.ttf");
}
@theme{
  --font-aldrich: Aldrich, "sanserif";
  --font-roboto: Roboto, "sanserif"
}

::selection {
      background-color: #ff3d00;
      color: #ffffff;
    }

@import "tailwindcss"

